.about {
  margin-bottom: clamp(40px, -1.136rem + 18.18vw, 200px);
}
.about__title {
  margin-bottom: clamp(20px, 0.341rem + 4.55vw, 60px);
}
.subtitle_about {
  font-size: clamp(16px, 0.136rem + 4.32vw, 54px);
  font-weight: 400;
  line-height: clamp(38px, 1.83rem + 2.73vw, 62px);
  font-size: clamp(16px, 0.136rem + 4.32vw, 54px);
  span {
    color: $colorAccent;
    font-size: clamp(10px, 0.193rem + 2.16vw, 29px);
    font-weight: 400;
    line-height: 34.5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    margin-right: 33px;
  }

  img {
    width: clamp(40px, 1.705rem + 3.98vw, 75px);
  }
}
.about__button {
  position: relative;

  padding: clamp(40px, 1.818rem + 3.41vw, 70px) 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $colorAccent;
  font-size: clamp(17px, 0.835rem + 1.14vw, 27px);
  font-weight: 400;
  line-height: 34.5px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  margin-left: auto;
  margin-top: clamp(0px, -0.682rem + 3.41vw, 30px);

  &::after {
    position: absolute;
    content: url(../images/main/about/vectorButton.svg);
    opacity: 0;
    transform: scale(0);

    transition: all 0.2s linear;
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 740px) {
  .about__button:hover::after {
    opacity: 0;
    transform: scale(0);
  }
}
