.hero {
  margin-bottom: clamp(40px, -1.136rem + 18.18vw, 200px);
}
.hero__subtitle {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.subtitle_hero {
  font-size: clamp(14px, 0.602rem + 1.36vw, 26px);
  font-weight: 400;
  line-height: clamp(18px, 0.784rem + 1.7vw, 33px);
  text-align: center;
}
.hero__title {
  overflow: hidden;
  span {
    color: $colorBlack ;
  }
}
.hero__image {
  position: relative;

  overflow: hidden;
}
.hero__image_overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $colorAccent;
}
